In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings('ignore')

import acquire as a
import prepare as p
import new_lib as nl

In [2]:
titanic = a.get_titanic_data('titanic')
titanic

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [3]:
titanic = p.prep_titanic(titanic)
titanic

,survived,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,3,1,0,7.2500,0,1,0,1
1,1,1,1,0,71.2833,0,0,0,0
2,1,3,0,0,7.9250,1,0,0,1
3,1,1,1,0,53.1000,0,0,0,1
4,0,3,0,0,8.0500,1,1,0,1
...,...,...,...,...,...,...,...,...,...
886,0,2,0,0,13.0000,1,1,0,1
887,1,1,0,0,30.0000,1,0,0,1
888,0,3,1,2,23.4500,0,0,0,1
889,1,1,0,0,30.0000,1,1,0,0
890,0,3,0,0,7.7500,1,1,1,0

In [4]:
train, val, test, X_train, y_train, X_val, y_val, X_test, y_test = nl.train_vailidate_test_split(titanic, 'survived')

In [5]:
knn1 = KNeighborsClassifier(n_neighbors=5)

In [6]:
knn1.fit(X_train, y_train)

KNeighborsClassifier()

In [7]:
knn1.score(X_train, y_train)

0.8092369477911646

In [8]:
knn1_preds = knn1.predict(X_train)

In [9]:
print(classification_report(y_train, knn1_preds))

              precision    recall  f1-score   support

           0       0.84      0.83      0.84       294
           1       0.76      0.77      0.77       204

    accuracy                           0.81       498
   macro avg       0.80      0.80      0.80       498
weighted avg       0.81      0.81      0.81       498

In [13]:
cm = pd.DataFrame(confusion_matrix(knn1_preds, y_train))
cm

     0    1
0  245   46
1   49  158

In [14]:
tp = 245
fp = 46
fn = 49
tn = 158
support = train['survived'].value_counts().sum()
f1 = 2 * ((tp/(tp+fp)*tp/(tp+fn))/(tp/(tp+fp)+tp/(tp+fn)))

In [29]:
print(f'Accuracy is: {(tp+tn)/(tp+tn+fp+fn)}')
print(f'Precision is: {tp/(tp+fp)}')
print(f'Recall is: {tp/(tp+fn)}')
print(f'Support is: {support}')
print(f'F1 Score is: {f1}')
print(f'True Positive Rate is: {tp/(tp+fn)}')
print(f'False Positive Rate is: {fp/(fp+tn)}')
print(f'True Negative Rate is: {tn/(tn+fp)}')
print(f'False Negative Rate is: {fn/(fn+tp)}')

Accuracy is: 0.7831325301204819
Precision is: 0.7852760736196319
Recall is: 0.8707482993197279
Support is: 498
F1 Score is: 0.8376068376068375
True Positive Rate is: 0.8707482993197279
False Positive Rate is: 0.3431372549019608
True Negative Rate is: 0.6568627450980392
False Negative Rate is: 0.1292517006802721

In [18]:
knn2 = KNeighborsClassifier(n_neighbors=10)

In [19]:
knn2.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [20]:
knn2.score(X_train, y_train)

0.7831325301204819

In [21]:
knn2_preds = knn2.predict(X_train)

In [22]:
print(classification_report(y_train, knn2_preds))

              precision    recall  f1-score   support

           0       0.79      0.87      0.83       294
           1       0.78      0.66      0.71       204

    accuracy                           0.78       498
   macro avg       0.78      0.76      0.77       498
weighted avg       0.78      0.78      0.78       498

In [23]:
cm2 = pd.DataFrame(confusion_matrix(knn2_preds, y_train))
cm2

     0    1
0  256   70
1   38  134

In [24]:
tp = 256
fp = 70
fn = 38
tn = 134

In [30]:
print(f'Accuracy is: {(tp+tn)/(tp+tn+fp+fn)}')
print(f'Precision is: {tp/(tp+fp)}')
print(f'Recall is: {tp/(tp+fn)}')
print(f'Support is: {support}')
print(f'F1 Score is: {f1}')
print(f'True Positive Rate is: {tp/(tp+fn)}')
print(f'False Positive Rate is: {fp/(fp+tn)}')
print(f'True Negative Rate is: {tn/(tn+fp)}')
print(f'False Negative Rate is: {fn/(fn+tp)}')

Accuracy is: 0.7831325301204819
Precision is: 0.7852760736196319
Recall is: 0.8707482993197279
Support is: 498
F1 Score is: 0.8376068376068375
True Positive Rate is: 0.8707482993197279
False Positive Rate is: 0.3431372549019608
True Negative Rate is: 0.6568627450980392
False Negative Rate is: 0.1292517006802721

In [32]:
knn3 = KNeighborsClassifier(n_neighbors=20)

In [33]:
knn3.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=20)

In [34]:
knn3.score(X_train, y_train)

0.7429718875502008

In [35]:
knn3_preds = knn1.predict(X_train)

In [36]:
print(classification_report(y_train, knn1_preds))

              precision    recall  f1-score   support

           0       0.84      0.83      0.84       294
           1       0.76      0.77      0.77       204

    accuracy                           0.81       498
   macro avg       0.80      0.80      0.80       498
weighted avg       0.81      0.81      0.81       498

In [37]:
cm3 = pd.DataFrame(confusion_matrix(knn3_preds, y_train))
cm3

     0    1
0  245   46
1   49  158

In [40]:
tp = 245
fp = 46
fn = 49
tn = 158

In [41]:
print(f'Accuracy is: {(tp+tn)/(tp+tn+fp+fn)}')
print(f'Precision is: {tp/(tp+fp)}')
print(f'Recall is: {tp/(tp+fn)}')
print(f'Support is: {support}')
print(f'F1 Score is: {f1}')
print(f'True Positive Rate is: {tp/(tp+fn)}')
print(f'False Positive Rate is: {fp/(fp+tn)}')
print(f'True Negative Rate is: {tn/(tn+fp)}')
print(f'False Negative Rate is: {fn/(fn+tp)}')

Accuracy is: 0.8092369477911646
Precision is: 0.8419243986254296
Recall is: 0.8333333333333334
Support is: 498
F1 Score is: 0.8376068376068375
True Positive Rate is: 0.8333333333333334
False Positive Rate is: 0.22549019607843138
True Negative Rate is: 0.7745098039215687
False Negative Rate is: 0.16666666666666666

although knn 3 is scored lowest it has highest accuracy however its precision is higher

In [45]:
knn1.score(X_val, y_val)

0.7102803738317757

In [46]:
knn2.score(X_val, y_val)

0.7102803738317757

In [47]:
knn3.score(X_val, y_val)

0.6542056074766355

knn1 is the best it seems in terms of score