In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import acquire as a
import prepare as p
import new_lib as nl

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings('ignore')

In [2]:
titanic = a.get_titanic_data('titanic')
titanic

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [3]:
titanic1 = titanic[['age', 'pclass', 'fare', 'survived']]

In [4]:
titanic1 = titanic1.dropna()

In [5]:
titanic1.isna().sum()

age         0
pclass      0
fare        0
survived    0
dtype: int64

In [6]:
train, val, test, X_train, y_train, X_val, y_val, X_test, y_test = nl.train_vailidate_test_split(titanic1, 'survived')

In [7]:
logit1 = LogisticRegression()

In [8]:
logit1.fit(X_train, y_train)

LogisticRegression()

In [9]:
logit1.score(X_train, y_train)

0.7243107769423559

In [10]:
logit1.score(X_val, y_val)

0.6802325581395349

In [11]:
y_preds = logit1.predict(X_train)

In [12]:
print(classification_report(y_train, y_preds))

              precision    recall  f1-score   support

           0       0.73      0.84      0.78       237
           1       0.71      0.55      0.62       162

    accuracy                           0.72       399
   macro avg       0.72      0.70      0.70       399
weighted avg       0.72      0.72      0.72       399

In [13]:
titanic2 = titanic[['age', 'pclass', 'fare', 'survived', 'sex']]

In [14]:
dummies = pd.get_dummies(titanic[['sex']], drop_first=True)
titanic2 = pd.concat([titanic2, dummies], axis=1)

In [18]:
titanic2 = titanic2.dropna()
titanic2 = titanic2.drop(columns = 'sex')

In [19]:
train, val, test, X_train, y_train, X_val, y_val, X_test, y_test = nl.train_vailidate_test_split(titanic2, 'survived')

In [20]:
logit2 = LogisticRegression()
logit2.fit(X_train, y_train)
logit2.score(X_train, y_train)

0.8145363408521303

In [24]:
logit2.score(X_val, y_val)

0.7848837209302325

In [23]:
y_preds = logit2.predict(X_train)

In [22]:
print(classification_report(y_train, y_preds))

              precision    recall  f1-score   support

           0       0.84      0.85      0.85       237
           1       0.78      0.76      0.77       162

    accuracy                           0.81       399
   macro avg       0.81      0.81      0.81       399
weighted avg       0.81      0.81      0.81       399