In [23]:
import pandas as pd
import numpy as np
import new_lib as nl
import sklearn as sk

**Given the following confusion matrix, evaluate (by hand) the model's performance.**

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

- In the context of this problem, what is a false positive?
- In the context of this problem, what is a false negative?
- How would you describe this model?

In [3]:
accuracy = (46+34)/(46+34+13+7)
accuracy

0.8

In [8]:
precision = 46/(46+7)
precision

0.8679245283018868

In [7]:
npv = 34/(34+13)
npv

0.723404255319149

In [10]:
recall = 46/(46+13)
recall

0.7796610169491526

In [12]:
specificity = 34/(34+7)
specificity

0.8292682926829268

- A false positive is when we predict a dog but its actually a cat
- A false negataive is when we predict a cat but its actually a dog
- The model is a very good one since it is relativley high in every metric

You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [38]:
c3 = nl.connect('', 'c3.csv', '')

In [39]:
c3

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [45]:
mod1 = pd.crosstab(c3.model1, c3.actual)
mod1

actual     Defect  No Defect
model1
Defect          8          2
No Defect       8        182

In [47]:
mod2 = pd.crosstab(c3.model2, c3.actual)
mod2

actual     Defect  No Defect
model2
Defect          9         81
No Defect       7        103

In [46]:
mod3 = pd.crosstab(c3.model3, c3.actual)
mod3

actual     Defect  No Defect
model3
Defect         13         86
No Defect       3         98

- You want the evaluation that has lowest False Negative rates so you want something with high Recall
- Model 3 has highest Recall

- You want the model with loweset False Positive Rate so you use precision
- Model 1 has highest precision

You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [67]:
paws = nl.connect('', 'gives_you_paws.csv', '')
paws

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [68]:
paws['base'] = 'dog'
paws

     actual model1 model2 model3 model4 base
0       cat    cat    dog    cat    dog  dog
1       dog    dog    cat    cat    dog  dog
2       dog    cat    cat    cat    dog  dog
3       dog    dog    dog    cat    dog  dog
4       cat    cat    cat    dog    dog  dog
...     ...    ...    ...    ...    ...  ...
4995    dog    dog    dog    dog    dog  dog
4996    dog    dog    cat    cat    dog  dog
4997    dog    cat    cat    dog    dog  dog
4998    cat    cat    cat    cat    dog  dog
4999    dog    dog    dog    dog    dog  dog

[5000 rows x 6 columns]

In [79]:
baseline = pd.crosstab(paws.base, paws.actual)[['dog', 'cat']].reindex(['dog', 'cat'])
baseline

actual     dog     cat
base
dog     3254.0  1746.0
cat        NaN     NaN

In [87]:
bacc = 3254/5000
bacc

0.6508

In [80]:
mod1 = pd.crosstab(paws.model1, paws.actual)[['dog', 'cat']].reindex(['dog', 'cat'])
mod1

actual   dog   cat
model1
dog     2614   323
cat      640  1423

In [89]:
m1a = (2614+1423)/5000
m1a

0.8074

In [81]:
mod2 = pd.crosstab(paws.model2, paws.actual)[['dog', 'cat']].reindex(['dog', 'cat'])
mod2

actual   dog   cat
model2
dog     1597   191
cat     1657  1555

In [91]:
m2a = (1597+1555)/5000
m2a

0.6304

In [83]:
mod3 = pd.crosstab(paws.model3, paws.actual)[['dog', 'cat']].reindex(['dog', 'cat'])
mod3

actual   dog  cat
model3
dog     1655  853
cat     1599  893

In [93]:
m3a = (1655+893)/5000
m3a

0.5096

In [85]:
mod4 = pd.crosstab(paws.model4, paws.actual)[['dog', 'cat']].reindex(['dog', 'cat'])
mod4

actual   dog   cat
model4
dog     3110  1143
cat      144   603

In [95]:
m4a = (3110+603)/5000
m4a

0.7426

- A: There are two models that are more accurate than the baseline (model 1 and model 4)
- B: You would use model 2 because that gives the least amount of false positives
- C: You would use model 4 since it has the least amount of false negatives

Using sklearn metrics

In [97]:
sk.metrics.accuracy_score(paws.actual, paws.model1)

0.8074

In [99]:
sk.metrics.accuracy_score(paws.actual, paws.model2)

0.6304

In [100]:
sk.metrics.accuracy_score(paws.actual, paws.model3)

0.5096

In [101]:
sk.metrics.accuracy_score(paws.actual, paws.model4)

0.7426

In [105]:
sk.metrics.precision_score(paws.actual, paws.model1, pos_label = 'dog')

0.8900238338440586

In [106]:
sk.metrics.precision_score(paws.actual, paws.model2, pos_label = 'dog')

0.8931767337807607

In [107]:
sk.metrics.precision_score(paws.actual, paws.model3, pos_label = 'dog')

0.6598883572567783

In [108]:
sk.metrics.precision_score(paws.actual, paws.model4, pos_label = 'dog')

0.7312485304490948

In [109]:
sk.metrics.recall_score(paws.actual, paws.model1, pos_label = 'dog')

0.803318992009834

In [110]:
sk.metrics.recall_score(paws.actual, paws.model2, pos_label = 'dog')

0.49078057775046097

In [111]:
sk.metrics.recall_score(paws.actual, paws.model3, pos_label = 'dog')

0.5086047940995697

In [112]:
sk.metrics.recall_score(paws.actual, paws.model4, pos_label = 'dog')

0.9557467732022127

In [117]:
print(sk.metrics.classification_report(paws.actual, paws.model1))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [118]:
print(sk.metrics.classification_report(paws.actual, paws.model2))

              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [119]:
print(sk.metrics.classification_report(paws.actual, paws.model3))

              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [120]:
print(sk.metrics.classification_report(paws.actual, paws.model4))

              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000